@import "tailwindcss";


/* Add this to your main CSS file (e.g., index.css)
  It fixes the browser's autofill style
*/

/* --- FIX FOR DARK MODE --- */
:root.dark input:-webkit-autofill,
:root.dark input:-webkit-autofill:hover,
:root.dark input:-webkit-autofill:focus,
:root.dark input:-webkit-autofill:active {
  /* 
      Use transition to preventing the browser from applying the default yellow background.
      We DO NOT use box-shadow here because it forces a single color (e.g. --bg-dark),
      which looks wrong if the input is inside a card with a different background.
    */
  transition: background-color 5000s ease-in-out 0s;

  /* Force text color */
  -webkit-text-fill-color: var(--text-dark-primary) !important;
  caret-color: var(--text-dark-primary);
}

/* --- FIX FOR LIGHT MODE --- */
:root:not(.dark) input:-webkit-autofill,
:root:not(.dark) input:-webkit-autofill:hover,
:root:not(.dark) input:-webkit-autofill:focus,
:root:not(.dark) input:-webkit-autofill:active {

  transition: background-color 5000s ease-in-out 0s;

  -webkit-text-fill-color: var(--text-light-primary) !important;
  caret-color: var(--text-light-primary);
}


:root {
  overflow-x: hidden;
}